@model admParcialJuanGianella.Models.Pais

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pais</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.callingCodes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.callingCodes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.flag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flag)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.alpha3Code }) |
    @Html.ActionLink("Back to List", "Index")
</p>
